# Auto detect text files and perform LF normalization
* text=auto

# Evil Zombie's

# Este é o repositório do jogo Evil Zombie's, desenvolvido por uma equipe de alunos da Escola Estadual de Ensino Médio Prof. Gerson Peres.

## Sobre o Jogo
# O arquivo inicial do Evil Zombie's estava no formato .block, mas foi convertido para .sb3 para torná-lo executável em formato .html.

## Equipe de Desenvolvimento
# - Fabricio Gaia
# - Gustavo Cardoso
# - Rafael Brito
# - Renato Fernandes

## Agradecimentos
# Agradecemos ao Prof. Fábio Jorge Fabuloso pelo apoio e orientação durante o desenvolvimento deste projeto.
